.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  background-color: #26272b;
  padding: 45px 0 20px;
  line-height: 24px;
  color: #737373;
  gap: 1em;
  margin-top: var(--size-2xl);
  padding: var(--size-xl) 0;
}

.footer__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2em;
}

.footer__link {
  text-decoration: none;
  color: #737373;
  font-size: 14px;
  transition: color 400ms;
  position: relative;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--clr-green-light);
  outline: none;
}

.footer__link::after {
  content: "";
  position: absolute;
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--clr-green-light);
  transition: width 400ms, left 400ms;
}

.footer__link:hover::after,
.footer__link:focus::after {
  width: 100%;
  left: 0;
}

.footer__buttons {
  display: flex;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.footer__button {
  background: none;
  border: none;
  cursor: pointer;
  fill: var(--clr-green-dark);
  width: 40px; /* smaller size than SVG 80 to fit */
  height: 40px;
  transition: fill 400ms;
}

.footer__button:hover,
.footer__button:focus {
  fill: var(--clr-green-light);
  outline: none;
}
